{% extends "blog/base.html" %}
{% block content %}
	

	<div class="content-section">
		<h1>About CoinedSolutions</h1>
	</br>
<div>
The "CoinedSolutions" is a, actually is the compendium of all knowledge available in all known and unknown terrestric territories about coins, specifically 2-Euro Coins, intended to preserve that knowledge to any remote region of the world in the event of a foreseen global catastrophe. 
<br>
<br>
Furthermore, as it is the first common known collection of information about coins, specifically 2-Euro-Coins, it claims itself to be the first and only legitimate Encyclopædia in the world about the previous mentioned things.
<br>
<br>
In this Online-Knowledge-Compendium, Me and only I shall create an account and contribute with my knowledge, opinions and especially photos about my personal 2-Euro Coin Collection.
</div>
<br>
<br>

</div>
	

	<div class="content-section">
<a href="https://github.com/Bratapfel2000/CoinedSolutions">Github</a>

</div>
{% endblock content %}



