{% extends "blog/base.html" %}
{% block content %}
	

	<div class="content-section">
		<h1>About CoinedSolutions-DoHe</h1>
	</br>
<div>
The same as <a href="https://coinedsolutions.herokuapp.com/">CoinedSolutions</a>, but the dockerized version which was then deployed on Heroku. More info and instructions on Github.

</div>
<br>
<br>

</div>
	

	<div class="content-section">
<a href="https://github.com/Bratapfel2000/coinedsolutions-dohe">coinedsolutions-dohe on Github</a></br>
<a href="https://hub.docker.com/r/paufourdm/coinedsolutionsdohe">coinedsolutions-dohe on Dockerhub</a>

</div>
{% endblock content %}



